/* General */

.privacy-policy h4 {
    font-weight: 900;
}

.btn-download-chrome {
	border-color: #fff;
	padding-left: 4.5rem;
}

@media (max-width: 575px) {

    .btn-download-chrome {
		padding-left: 4.5rem;
	}

}